wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.baeldung.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws.baeldung.com/" name="EmployeeServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://jaxws.baeldung.com/" schemaLocation="http://localhost:8555/employeeservice?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getEmployee">
        <part name="parameters" element="tns:getEmployee"></part>
    </message>
    <message name="getEmployeeResponse">
        <part name="parameters" element="tns:getEmployeeResponse"></part>
    </message>
    <message name="updateEmployee">
        <part name="parameters" element="tns:updateEmployee"></part>
    </message>
    <message name="updateEmployeeResponse">
        <part name="parameters" element="tns:updateEmployeeResponse"></part>
    </message>
    <message name="deleteEmployee">
        <part name="parameters" element="tns:deleteEmployee"></part>
    </message>
    <message name="deleteEmployeeResponse">
        <part name="parameters" element="tns:deleteEmployeeResponse"></part>
    </message>
    <message name="addEmployee">
        <part name="parameters" element="tns:addEmployee"></part>
    </message>
    <message name="addEmployeeResponse">
        <part name="parameters" element="tns:addEmployeeResponse"></part>
    </message>
    <portType name="EmployeeService">
        <operation name="getEmployee">
            <input wsam:Action="http://jaxws.baeldung.com/EmployeeService/getEmployeeRequest" message="tns:getEmployee"></input>
            <output wsam:Action="http://jaxws.baeldung.com/EmployeeService/getEmployeeResponse" message="tns:getEmployeeResponse"></output>
        </operation>
        <operation name="updateEmployee">
            <input wsam:Action="http://jaxws.baeldung.com/EmployeeService/updateEmployeeRequest" message="tns:updateEmployee"></input>
            <output wsam:Action="http://jaxws.baeldung.com/EmployeeService/updateEmployeeResponse" message="tns:updateEmployeeResponse"></output>
        </operation>
        <operation name="deleteEmployee">
            <input wsam:Action="http://jaxws.baeldung.com/EmployeeService/deleteEmployeeRequest" message="tns:deleteEmployee"></input>
            <output wsam:Action="http://jaxws.baeldung.com/EmployeeService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"></output>
        </operation>
        <operation name="addEmployee">
            <input wsam:Action="http://jaxws.baeldung.com/EmployeeService/addEmployeeRequest" message="tns:addEmployee"></input>
            <output wsam:Action="http://jaxws.baeldung.com/EmployeeService/addEmployeeResponse" message="tns:addEmployeeResponse"></output>
        </operation>
    </portType>
    <binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getEmployee">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updateEmployee">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deleteEmployee">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="addEmployee">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="EmployeeServiceImplService">
        <port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
            <soap:address location="http://localhost:8555/employeeservice"></soap:address>
        </port>
    </service>
</definitions>