soap/wsdl/student.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.megatravel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.megatravel.com/" name="StudentServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.megatravel.com/" schemaLocation="http://localhost:8555/studentservice?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="deleteStudent">
        <part name="parameters" element="tns:deleteStudent"></part>
    </message>
    <message name="deleteStudentResponse">
        <part name="parameters" element="tns:deleteStudentResponse"></part>
    </message>
    <message name="updateStudent">
        <part name="parameters" element="tns:updateStudent"></part>
    </message>
    <message name="updateStudentResponse">
        <part name="parameters" element="tns:updateStudentResponse"></part>
    </message>
    <message name="addStudent">
        <part name="parameters" element="tns:addStudent"></part>
    </message>
    <message name="addStudentResponse">
        <part name="parameters" element="tns:addStudentResponse"></part>
    </message>
    <message name="getStudent">
        <part name="parameters" element="tns:getStudent"></part>
    </message>
    <message name="getStudentResponse">
        <part name="parameters" element="tns:getStudentResponse"></part>
    </message>
    <portType name="StudentService">
        <operation name="deleteStudent">
            <input wsam:Action="http://service.megatravel.com/StudentService/deleteStudentRequest" message="tns:deleteStudent"></input>
            <output wsam:Action="http://service.megatravel.com/StudentService/deleteStudentResponse" message="tns:deleteStudentResponse"></output>
        </operation>
        <operation name="updateStudent">
            <input wsam:Action="http://service.megatravel.com/StudentService/updateStudentRequest" message="tns:updateStudent"></input>
            <output wsam:Action="http://service.megatravel.com/StudentService/updateStudentResponse" message="tns:updateStudentResponse"></output>
        </operation>
        <operation name="addStudent">
            <input wsam:Action="http://service.megatravel.com/StudentService/addStudentRequest" message="tns:addStudent"></input>
            <output wsam:Action="http://service.megatravel.com/StudentService/addStudentResponse" message="tns:addStudentResponse"></output>
        </operation>
        <operation name="getStudent">
            <input wsam:Action="http://service.megatravel.com/StudentService/getStudentRequest" message="tns:getStudent"></input>
            <output wsam:Action="http://service.megatravel.com/StudentService/getStudentResponse" message="tns:getStudentResponse"></output>
        </operation>
    </portType>
    <binding name="StudentServiceImplPortBinding" type="tns:StudentService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="deleteStudent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updateStudent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="addStudent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getStudent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="StudentServiceImplService">
        <port name="StudentServiceImplPort" binding="tns:StudentServiceImplPortBinding">
            <soap:address location="http://localhost:8555/studentservice"></soap:address>
        </port>
    </service>
</definitions>